/* pagina index */
body {
    font-family: 'Chakra Petch', sans-serif;
    height: 100vh;
    width: 100vw;
    background-image: radial-gradient(circle at 52.39% 77.27%, #127da4 0, #1f607f 25%, #1f4459 50%, #192a36 75%, #0e1317 100%);
}
header {
    margin-top: 20px;
}
a {
    text-decoration: none;
    color: #ffffff;
}
nav {
    display: flex;
    font-size: x-large
}
img {
    border-radius: 50px;
}
form {
    display: flex;
    justify-content: center;
}
fieldset {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}
.sobremim_img {
    display: flex;
    justify-content: flex-start;  
    margin-left: 100px;  
}
.alien {
    display: flex;
    margin-left: 60%;
    width: 6%;
}
.hobbies_form {
    display: flex;
    margin-left: 220px;
    gap: 40px;
}
.texto1 {
    color: #ffffff;
    display: flex;
    justify-content: center;
    text-decoration: underline;
    margin-top: 50px;
}
.texto2 {
    width: 50%;
    color: #ffffff;
    margin-top: 50px; 
    margin-left: 350px;  
    text-decoration: none;

}
.imagens {
    height: 200px;
    width: 200px;
    margin-top: 90px;
    margin-left: 350px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}
/* pagina de hobbies e interesses */
.hobbies_img {
    display: flex;
    justify-content: flex-start;  
    margin-left: 100px;  
}
.texto3 {
    color: #ffffff;
    display: flex;
    justify-content: center;
    text-decoration: underline;
    margin-top: 50px;
}
.texto4 {
    width: 50%;
    color: #ffffff;;
    margin-top: 70px; 
    margin-left: 550px;  
    text-decoration: none;
}
.livros {
    height: 200px;
    width: 200px;
    margin-top: 50px;
    margin-left: 490px;
    display: flex;
    flex-direction: row;
}
/* pagina contato */
.contato_img {
    display: flex;
    justify-content: flex-start;  
    margin-left: 100px;
}