body {
    font-family: 'Chakra Petch', sans-serif;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(15deg, #ceebaf 0, #c5ecb4 8.33%, #bdeeba 16.67%, #b5efc0 25%, #acf0c7 33.33%, #a4f1ce 41.67%, #9df2d5 50%, #96f2dc 58.33%, #90f3e4 66.67%, #8bf3ec 75%, #87f3f3 83.33%, #84f2fa 91.67%, #84f2ff 100%);
}
nav {
    display: flex;
    font-size: x-large
}
.sobremim_img {
    display: flex;
    justify-content: flex-start;  
    margin-left: 100px;  
}
.alien {
    display: flex;
    margin-left: 60%;
    width: 6%;
}
.hobbies_form {
    display: flex;
    margin-left: 120px;
    gap: 40px;
}