.h1-contato {
    width: 250px;
}
.formulario {
    padding: 20px;
    color: #ffffff;
}
.nome,
.email,
.mensagem {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
button {
    width: 100%;
    height: 32px;
}